# env
.env

# data
data
/data/raw/*
!/data/raw/.keep
/data/interim/*
!/data/interim/.keep
/data/processed/*
!/data/processed/.keep

# reports (keep text, ignore large)
*.parquet
*.feather
*.arrow
*.log

*.pyc

# notebooks
.ipynb_checkpoints/

reports/runs
scripts/__pycache__
scripts/simulator/__pycache__
scripts/simulator/policies/__pycache__
reports/baselines/
