# env
.env

# data
data
/data/raw/*
!/data/raw/.keep
/data/interim/*
!/data/interim/.keep
/data/processed/*
!/data/processed/.keep

# reports (keep text, ignore large)
*.parquet
*.feather
*.arrow
*.log

*.pyc

# notebooks
.ipynb_checkpoints/

reports/runs
reports/baselines/
